:root {
	--back-color: #ffffff;
	--accent-color: #2196f3;
	--text-color: #212121;
	--second-text-color: #757575;
	--mainsection-bcg: #2f303a;
	--team-bcg-color: #f5f4fa;
}

body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
	background-color: var(--back-color);
	color: var(--text-color);
}
.list {
	list-style: none;
}
.main-bcg {
	background-color: var(--mainsection-bcg);
}

.titel-index {
	color: white;
	font-size: 44px;
	font-weight: 900;
	letter-spacing: 0.06rem;
	text-align: center;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	text-decoration: none;
	font-size: 26px;
}

.logo-color-blue {
	color: #2196f3;
}
.logo-color-white {
	color: #fff;
}
.logo-color-black {
	color: black;
}

.adr {
	font-size: 14px;
	font-style: normal;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.adr-color1 {
	color: white;
}
.adr-color {
	color: rgba(255, 255, 255, 60%);
}

.no-deco {
	text-decoration: none;
}
.navmenu {
	color: #212121;
	font-weight: 500;
	font-size: 14px;
	line-height: 16p1.14;
	letter-spacing: 0.02em;
}

.butt-index {
	background-color: #2196f3;
	color: white;
	width: 117px;
	height: 30px;
	letter-spacing: 0.06rem;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}
.butt-port {
	color: #212121;
	background-color: #f5f4fa;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	cursor: pointer;
	border-radius: 4px;
	border: 0;
	width: 93px;
	height: 38px;
}
.butt-port:hover {
	color: white;
	background-color: var(--accent-color);
}
.contact {
	color: #757575;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus,
.adr-color:hover,
.adr-color:focus,
.navmenu:hover {
	color: var(--accent-color);
}
.features-title {
	font-size: 14px;
	font-weight: 700;
	color: var(--text-color);
}
.features-text {
	font-size: 14px;
	color: var(--second-text-color);
	line-height: 1.71;
}
.section-titel {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	line-height: 1.17;
}
.list-titel {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--text-color);
}
.list-text {
	font-size: 16px;
	line-height: 1.87;
	color: var(--second-text-color);
}

/* ------Team index------ */
.team-worker {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.19;
	text-align: center;
	color: var(--text-color);
}
.team-position {
	font: size 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--second-text-color);
}
.team-bcg {
	background-color: var(--team-bcg-color);
}
/* ------------ */